.ej-main {
    display: flex;
    flex: 1;
    background-color: #f9fafc;
    max-height: 100%;
}

.ej-main .ej-menu {
    width: 150px;
}

.ej-main .ej-content {
    flex: 1;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.ej-main .ej-content .ej-content-title {
    height: 40px;
    min-height: 40px;
    background: #E1E7EB;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.ej-main .ej-content .ej-content-title h2 {
    font-size: 14px;
    color: #1F2129;
    line-height: 18px;
    padding-top: 11px;
    padding-left: 29px;
}

.ej-main .ej-content .ej-content-title .ej-content-goto {
    display: inline-block;
    background: #0CC1B9;
    border: 1px solid #0CC1B9;
    border-radius: 2px;
    width: 80px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
    margin-right: 14px;
    line-height: 18px;
    cursor: pointer;
}

.ej-main .ej-content .ej-content-title .ej-content-goto:hover {
    opacity: 0.5;
}

.ej-main .ej-content .ej-content-title .ej-content-goto:active {
    opacity: 0.9;
}

.ej-main .ej-content .ej-content-title .ej-content-goto p {
    font-size: 12px;
    color: #FFFFFF;
}

.ej-main .ej-content .ej-content-title .ej-content-black {
    background: rgba(255, 255, 255, 0.09);
    border: 1px solid #4F5A64;
    border-radius: 2px;
    width: 44px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
    margin-right: 14px;
    line-height: 18px;
    cursor: pointer;
}

.ej-main .ej-content .ej-content-title .ej-content-black p {
    font-size: 12px;
    color: #4F5A64;
}

.ej-main .ej-content .ej-content-main {
    background-color: #f9fafc;
    flex: 1;
    overflow: hidden;
}

.ej-main .ej-content .ej-content-operation {
    background-color: #f9fafc;
    height: 63px;
    text-align: center;
    padding-top: 30px;
}

.ej-main .ej-content .ej-content-operation div {
    display: inline-block;
    margin-right: 14px;
    width: 80px;
    height: 28px;
    background: #F9FAFC;
    border: 1px solid #E1E7ED;
    border-radius: 1px;
    cursor: pointer;
}

.ej-main .ej-content .ej-content-operation div p {
    line-height: 28px;
    font-size: 14px;
    color: #6C7883;
}

.ej-main .ej-content .ej-content-operation .submit {
    background-color: #00C187;
}

.ej-main .ej-content .ej-content-operation .submit p {
    color: #FFFFFF;
}

.ej-main .ej-content .ej-content-operation .reset {
    background-color: #8A94A2;
}

.ej-main .ej-content .ej-content-operation .reset p {
    color: #FFFFFF;
}