<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        html {
            overflow-y: scroll;
        }

        * {
            margin: 0;
            padding: 0;
        }

        body {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        table tr td {
            text-align: center;
            padding-top: 7px;
            padding-bottom: 7px;
            font-size: 14px;
        }

        table tr ._title {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            width: 40px;
        }

        table tr ._content {
            text-align: left;
            padding-left: 5px;
            padding-right: 5px;
        }

        table tr .project {
            width: 90px;
        }

        img {
            vertical-align: middle;
            margin-bottom: 10px;
            margin-left: 12px;
        }

        .td-special-time {
            height: 80px;
        }

        .td-special-height {
            vertical-align: top;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="word_demo" v-cloak>
        <div style="text-align: center;font-size: 24px;letter-spacing: 2px">杭州市公安局交通警察支队</div>
        <div style="text-align: center;font-size: 30px;letter-spacing: 3px">交通安全设施施工联系单</div>
        <table border="0" cellspacing="" cellpadding="" style="table-layout: fixed;">
            <tr>
                <td style="text-align: left;">
                    维护类型：<span>{{content.typeName}}</span>
                </td>
                <td style="text-align: center;">
                    辖区单位：<span>{{content.devDeptName}}</span>
                </td>
                <td style="text-align: right;">
                    <span v-show="content.acceptanceCheckNum">验收编号：{{content.acceptanceCheckNum}}</span>
                </td>
            </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="0">
            <tr>
                <td :rowspan="isShowPhoto" class="_title">
                    <div>基</div>
                    <div>本</div>
                    <div>信</div>
                    <div>息</div>
                </td>
                <td class="project">业务来源</td>
                <td class="">{{content.repSourceName||'自己提出'}}</td>
                <td class="">申报联系人</td>
                <td class="">{{content.repPersonName}}</td>
                <td class="">联系电话</td>
                <td class="">{{content.repPersonTel}}</td>
            </tr>
            <tr>
                <td class="project">施工单位</td>
                <td class="">{{content.oppmDeptName}}</td>
                <td class="">联系人</td>
                <td class="">{{opPersonInfo.opPersonName}}</td>
                <td class="">联系电话</td>
                <td class="">{{opPersonInfo.contactTel}}</td>
            </tr>
            <tr>
                <td class="project">施工地点</td>
                <td class="_content" colspan="5">
                    {{content.listSignsWorkordersRoad|roadShow}}
                </td>
            </tr>
            <tr v-if="content.materialInfos == null">
                <td class="project">现场照片</td>
                <td class="_content" colspan="5">
                    <div v-for="item in prePhoto">
                        <img width="320" height="240" :src="item" alt="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="project">情况描述</td>
                <td class="_content" colspan="5">
                    {{content.failureDescrible}}
                </td>
            </tr>
            <tr>
                <td class="project">申报编号</td>
                <td class="_content" colspan="5">
                    {{content.signsWorkordersId}}
                </td>
            </tr>
            <tr>
                <td class="_title" :rowspan="checkOptLength">
                    <div>申</div>
                    <div>报</div>
                    <div>审</div>
                    <div>核</div>
                </td>
                <td class="project">审核环节</td>
                <td class="">审核人</td>
                <td class="">时间</td>
                <td class="" colspan="3">审核意见</td>
            </tr>
            <tr v-for="item in checkOpt">
                <td class="project">{{item.operTypeName}}</td>
                <td class="">{{item.operPerson}}</td>
                <td class="">{{item.operDate|dateFormat}}</td>
                <td class="" colspan="3">{{item.operResult}}<span v-if="item.operExplain">（{{item.operExplain}}）</span></td>
            </tr>
            <!-- <%--<tr>--%>
            <%--<td class="project">大队领导</td>--%>
            <%--<td class="">小明</td>--%>
            <%--<td class="">2018-12-11</td>--%>
            <%--<td class="" colspan="3">同意</td>--%>
        <%--</tr>--%>
        <%--<tr>--%>
            <%--<td class="project">设施科</td>--%>
            <%--<td class="">小明</td>--%>
            <%--<td class="">2018-12-11</td>--%>
            <%--<td class="" colspan="3">宽度不小于3米</td>--%>
        <%--</tr>--%>
        <%--<tr>--%>
            <%--<td class="project">秩序处</td>--%>
            <%--<td class="">小明</td>--%>
            <%--<td class="">2018-12-11</td>--%>
            <%--<td class="" colspan="3">同意</td>--%>
        <%--</tr>--%> -->
            <tr v-if="content.materialInfos">
                <td class="_title" rowspan="2">
                    <div>施</div>
                    <div>工</div>
                    <div>反</div>
                    <div>馈</div>
                </td>
                <td>
                    <div>施</div>
                    <div>工</div>
                    <div>前</div>
                    <div>后</div>
                    <div>照</div>
                    <div>片</div>
                </td>
                <td class="_content" colspan="5">
                    <div v-for="(item, idx) in photo" style="display: inline-block">
                        <img width="160" height="120" :src="item" alt="">
                    </div>
                </td>
            </tr>
            <tr v-if="content.materialInfos">
                <td>
                    <div>工</div>
                    <div>程</div>
                    <div>质</div>
                    <div>量</div>
                    <div>清</div>
                    <div>单</div>
                </td>
                <td class="_content" colspan="5">
                    <table border="0" cellspacing="0" cellpadding="0" style="font-size: 12px">
                        <tr>
                            <td class="">序号</td>
                            <td class="">设施名称</td>
                            <td class="">规格</td>
                            <td class="">单价</td>
                            <td class="">数量</td>
                            <td class="">金额</td>
                        </tr>
                        <tr v-for="(item, idx) in content.materialInfos">
                            <td class="">{{idx + 1}}</td>
                            <td class="">{{item.materialName}}</td>
                            <td class="">{{item.materialSpecification||(item.materialInfo&&item.materialInfo.length>0?item.materialInfo[0].materialSpecification:'')}}</td>
                            <td class="">{{item.materialUnitPrice||(item.materialInfo&&item.materialInfo.length>0?item.materialInfo[0].materialUnitPrice:'')}}</td>
                            <td class="">{{item.materialNum||0}}（{{item.materialUnit}}）</td>
                            <td class="">{{(item.materialUnitPrice||(item.materialInfo&&item.materialInfo.length>0?item.materialInfo[0].materialUnitPrice:''))*item.materialNum | numberFormat }}</td>
                        </tr>
                        <tr>
                            <td class="" colspan="6" style="text-align: right;font-size: 18px">总金额：{{priceTotal | numberFormat}}元</td>
                        </tr>
                        <tr>
                            <td class="" colspan="6" style="text-align: left;font-size: 12px">工程量备注：{{content.workordersRecordMap | materialFormat}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr v-if="sureInfo">
                <td class="_title" rowspan="2" style="text-align: center;">
                    <div>竣</div>
                    <div>工</div>
                    <div>验</div>
                    <div>收</div>
                </td>
                <td class="">监理单位</td>
                <td class="">{{sureInfo.ab}}</td>
                <td class="">{{sureInfo.ba}}</td>
                <td class="">{{sureInfo.bb}}</td>
                <td class="">{{sureInfo.ca}}</td>
                <td class="">{{sureInfo.cb}}</td>
            </tr>
            <tr v-if="sureInfo">
                <td class="td-special-time">{{sureInfo.ac|dateFormat}}</td>
                <td class="td-special-height">{{sureInfo.ad}}</td>
                <td class="td-special-time">{{sureInfo.bc|dateFormat}}</td>
                <td class="td-special-height">{{sureInfo.bd}}</td>
                <td class="td-special-time">{{sureInfo.cc|dateFormat}}</td>
                <td class="td-special-height">{{sureInfo.cd}}</td>
            </tr>
        </table>
        <div style="font-size: 14px;">
            <p>施工要求：</p>
            <ol style="margin-left: 25px;">
                <li>按《城市道路交通标志和标线设置规范》要求施工；</li>
                <li>出现影响交通情况，听从民警指挥并及时撤离现场；</li>
                <li>此联系单维护内容应按时完成（遇天气等因素无法施工的除外）。</li>
            </ol>
        </div>
    </div>
    <script type="text/javascript" src="./static/js/vue.min.js"></script>
    <script type="text/javascript" src="./static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        var docStyle = "html{overflow-y:scroll;}*{margin:0;padding:0;}table{width:100%;border-collapse:collapse;border-spacing:0;}table tr td{text-align:center;padding-top:7px;padding-bottom:7px;font-size:14px;}table tr ._title{text-align:center;padding-left:10px;padding-right:10px;width:40px;}table tr ._content{text-align:left;padding-left:5px;padding-right:5px;}table tr .project{width:90px;}img{vertical-align: middle;margin-bottom: 10px;margin-left: 12px;}.td-special-time{height: 80px;}.td-special-height{vertical-align: top;}";
        $('.exportBtn').click(function() {
            $("#word_demo").wordExport('占道施工审批表', docStyle);
        });
        // 7大队道管 8大队领导 9设施科 10秩序处 12监理单位 13大队中队验收确认 14维护单位驳回处理中心 15支队领导民警验收验收确认
        var engineArray = [
            { engineID: 7, engineName: '大队道管' },
            { engineID: 8, engineName: '大队领导' },
            { engineID: 9, engineName: '设施科' },
            { engineID: 10, engineName: '秩序处' },
            { engineID: 12, engineName: '监理单位' },
            { engineID: 13, engineName: '大队中队验收' },
            { engineID: 15, engineName: '支队领导验收' }
        ];
        var app = new Vue({
            el: '#word_demo',
            data: {
                content: {},
                checkOpt: [],
                jlAuditOpt: null,
                middleAudit: null,
                higherAudit: null,
                divisionAudit: [],
                sureInfo: null,
                prePhoto: [],
                photo: [],
                opPersonInfo: {}, //维护单位信息
            },
            created: function() {
                var _that = this;
                var id = this.getQueryString('id');
                var token = this.getQueryString('token');
                $.ajax({
                    dataType: "json",
                    url: "./config.json",
                    type: "GET",
                    async: false,
                    success: function(res, status) {
                        $.ajax({
                            dataType: "json",
                            url: res.efoms_HOST + "/SignsWorkordersInfo/getSignsContactManageInfo",
                            type: "GET",
                            async: false,
                            data: {
                                'signsWorkordersId': id,
                                'token': token
                            },
                            success: function(data, status) {
                                if (data != null) {
                                    _that.content = data.resultList || {};
                                    var opt = _that.content.workordersRecordMap || {};
                                    _that.content.materialInfos = _that.content.listMaterialRlt.length > 0 ? _that.content.listMaterialRlt : null;
                                    _that.checkOpt = opt.checkList;

                                    opt.dispatchList.map(item => {
                                        // 下发操作的有效数据
                                        if (item.operResultCode == 'OPERRESULT07') {
                                            _that.opPersonInfo = {
                                                opPersonName: item.opPersonName,
                                                contactTel: item.contactTel,
                                            }
                                        }
                                    });

                                    //存在电子类
                                    // if (_that.content.devTypeCode.indexOf('REPDEVTYPE24') > -1) {
                                    // }
                                    var qwertyu = {};
                                    opt.reviewList.map(item => {
                                        // 监理审核
                                        if (item.operTypeCode == 'FACILITYOPERTYPE17') {
                                            qwertyu.ab = item.opDeptName;
                                            qwertyu.ac = item.operDate;
                                            qwertyu.ad = item.operPerson;
                                        }
                                        //中队验收
                                        else if (item.operTypeCode == 'FACILITYOPERTYPE18') {
                                            qwertyu.ba = '属地中队';
                                            qwertyu.bb = item.opDeptName;
                                            qwertyu.bc = item.operDate;
                                            qwertyu.bd = item.operPerson;
                                        }
                                        // 大队验收
                                        else if (item.operTypeCode == 'FACILITYOPERTYPE19') {
                                            qwertyu.ca = '大队道管';
                                            qwertyu.cb = item.opDeptName;
                                            qwertyu.cc = item.operDate;
                                            qwertyu.cd = item.operPerson;
                                        }
                                        // 民警验收
                                        else if (item.operTypeCode == 'FACILITYOPERTYPE20') {
                                            qwertyu.ba = '支队验收';
                                            qwertyu.bb = item.opDeptName;
                                            qwertyu.bc = item.operDate;
                                            qwertyu.bd = item.operPerson;
                                        }
                                        // 干部验收
                                        else if (item.operTypeCode == 'FACILITYOPERTYPE21') {
                                            qwertyu.ca = '支队验收';
                                            qwertyu.cb = item.opDeptName;
                                            qwertyu.cc = item.operDate;
                                            qwertyu.cd = item.operPerson;
                                        }
                                    });
                                    _that.sureInfo = opt.reviewList.length > 0 ? qwertyu : null;

                                    var pre = _that.content.fileInfoList || [];
                                    var arr = [];
                                    var prePo = [];
                                    var po = [];
                                    opt.fackbackList.map(item => {
                                        let aw = item.fileInfoList || [];
                                        arr = [...arr, ...aw];
                                    });
                                    pre.map(item => {
                                        if (/\.(jpg|jpeg|png|gif|JPG|JPEG|PNG|GIF)$/.test(item.fileName) && item.fileUrl) {
                                            prePo.push(item.fileUrl);
                                        }
                                    });
                                    arr.map(item => {
                                        if (/\.(jpg|jpeg|png|gif|JPG|JPEG|PNG|GIF)$/.test(item.fileName) && item.fileUrl) {
                                            po.push(item.fileUrl);
                                        }
                                    });
                                    _that.prePhoto = prePo;
                                    _that.photo = [...prePo, ...po];
                                }
                            }
                        });
                    }
                });
            },
            computed: {
                checkOptLength: function() {
                    return this.checkOpt.length + 1
                },
                isShowPhoto: function() {
                    return this.content.materialInfos ? 5 : 6
                },
                priceTotal: function() {
                    var total = 0
                    var material = this.content.materialInfos
                    for (var i = 0; i < material.length; i++) {
                        total += material[i].materialNum * (material[i].materialUnitPrice || (material[i].materialInfo && material[i].materialInfo.length > 0 ? material[i].materialInfo[0].materialUnitPrice : ''))
                    }
                    return total
                }
            },
            filters: {
                dateFormat: function(value) {
                    if (!value) return ''
                    return value.split(' ')[0]
                },
                specialFormat: function(value) {
                    if (!value) return ''
                    var content = value.split('{#}')[1]
                    return content === '' ? '同意' : content
                },
                materialFormat: function(obj) {
                    var wd = '';
                    var ooo = obj.fackbackList || [];
                    ooo.map(item => {
                        // 取最后一个工程量提报
                        if (item.operTypeCode == 'FACILITYOPERTYPE15') {
                            wd = item.operExplain;
                        }
                    });
                    return wd
                },
                numberFormat: function(value) {
                    return value == parseFloat(value) ? parseFloat(value).toFixed(2) : ''
                },
                roadShow(list) {
                    let arr = [];
                    list = list || [];
                    list.map(item => {
                        arr.push(`${item.roadName}(${item.beginCrossName}-${item.endCrossName})`);
                    });
                    return arr.join(',');
                }
            },
            methods: {
                engineIDToName: function(value) {
                    var name = ''
                    engineArray.forEach(function(item) {
                        if (item.engineID === value) {
                            name = item.engineName
                        }
                    })
                    return name
                },
                getQueryString(name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) return unescape(r[2]);
                    return null;
                },
            }

        });
    </script>
</body>

</html>